/*
  Title: book-list.component.scss
  Author: Zadkiel Rodriguez Alvarado
  Date: 4/20/2024
  Description: Book List styling
*/
.a-link {
  text-decoration: none;
  cursor: pointer;
}

.a-link:hover {
  text-decoration: underline;
}
