<!--
  Title: about.component.html
  Author: Zadkiel Rodriguez Alvarado
  Date: 3/27/2024
  Description: About component html file
  Sources:
    https://www.britannica.com/biography/Claude-Debussy/Evolution-of-his-work 
-->
<div class="container">

  <h2 class="text-center">Claude Debussy</h2>
  <hr>
  <br>
  <div class="row">

    <div class="col-sm-4">
      <img src="../../assets/Claude-Debussy.png" alt="Claude Debussy" width="400">
      <span class="source"><a href="https://www.britannica.com/biography/Claude-Debussy/Evolution-of-his-work" target="_blank">Source</a></span>
    </div>

    <div class="col-sm-8">
      <p>
        Debussy's music represents a departure from the traditional 19th-century musical language, challenging stereotyped harmonic procedures and orchestral conventions. He introduced innovative concepts like the "21-note scale" to disrupt tonality and transformed orchestral usage by treating each instrument almost as a soloist. Debussy also explored the piano's potential, embracing its unique capabilities. Later in life, he created an alter ego, Monsieur Croche, engaging in imaginary discussions about art and music. In his final works, Debussy ventured into compositional styles like those of Stravinsky and Bartók.
      </p>
    </div>

  </div>
</div>
