<!--
  Title: home.component.html
  Author: Zadkiel Rodriguez Alvarado
  Date: 5/10/2024
  Description: Home component html
-->
<div fxLayout="row">
  <mat-card fxFlex>
    <mat-card-title class="title red">
      Welcome to GryffinBank
    </mat-card-title>
    <br><br><br>

    <div class="logo-container">
      <img src="./assets/Gryffindor-Logo.png" alt="Gryffindor-Logo" class="logo">
    </div>

    <br><br><br>
    <mat-card-content>
      <p class="text-center italic">Welcome everyone to GryffinBank. We are delighted to have you here!</p>
    </mat-card-content>
  </mat-card>
</div>

<br><br><br>

<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
  <mat-card fxFlex="50">
    <mat-card-title class="red sub-title text-center">Customer Review</mat-card-title>
    <hr>
    <mat-card-content>
      <p class="review">I've been a customer of GryffinBank for years, and they've always exceeded my expectations. Great job! The staff is friendly and helpful, and I've never had any issues with my accounts. I highly recommend GryffinBank to anyone looking for a reliable and trustworthy bank.</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="50">
    <mat-card-title class="red sub-title text-center">Customer Review</mat-card-title>
    <hr>
    <mat-card-content>
      <p class="review">This is a fantastic bank with excellent customer service. I highly recommend it to everyone! I've been banking with GryffinBank for over five years now, and they've never let me down. Their online banking platform is user-friendly, their customer support is top-notch, and their interest rates are competitive. Keep up the great work, GryffinBank!</p>
    </mat-card-content>
  </mat-card>
</div>
