<!--
  Title: about.component.html
  Author: Zadkiel Rodriguez Alvarado
  Date: 5/11/2024
  Description: About component html
-->
<br><br><br>
<div fxLayout="row wrap" class="main-container">
  <mat-card>
    <mat-card-title class="title red">
      About us
    </mat-card-title>

    <br>
    <hr>
    <br>
    <mat-card-content>
      <div fxFlex style="text-align: center;">
        <div>
          <img src="./assets/Gryffindor-Logo.png" alt="Gryffindor-Logo" class="logo">
        </div>
        <div>
          <em>
            Photo by Logos-World - <a class="attribution-link" href="https://logos-world.net/gryffindor-logo/" target="_blank">Logos World</a>
          </em>
        </div>
      </div>

      <div fxFlex class="about-right">
        <p class="about-p">Welcome to GryffinBank, an exclusive institution tailored for selected members with a touch of royal wizardry. Within our esteemed institution, privilege intertwines with unparalleled service to provide you with a banking experience fit for nobility.</p>
        <p class="about-p">At GryffinBank, we pride ourselves on our professionalism and dedication to customer satisfaction. Our team of seasoned experts is committed to delivering exceptional service, ensuring that your every need is met with precision and care. From personalized assistance to prompt issue resolution, our customer service exemplifies excellence at every turn.</p>
        <p class="about-p">As a member of GryffinBank, you will enjoy access to sophistication and security. Our cutting-edge measures protect your assets with the utmost vigilance, granting you peace of mind in an ever-changing world. Whether you seek investment advice, financial planning, or simply a trusted partner, GryffinBank is here to surpass your expectations.</p>
        <p class="about-p">Join us at GryffinBank and unlock the door to a world where exclusivity meets excellence. Experience the privilege of membership and embark on a financial empowerment journey with us. Your trust is our most cherished asset, and we are honored to serve you with unwavering dedication and integrity. Welcome to GryffinBank, where royalty reigns supreme and your financial aspirations take flight.</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
