/*
  Title: about.component.scss
  Author: Zadkiel Rodriguez Alvarado
  Date: 5/11/2024
  Description: About component styling
*/
.about-right {
  padding: 20px;
  line-height: 2;
  font-size: 1rem;
}

.about-p {
  text-indent: 10px;
}
