/*
  Title: contact.component.scss
  Author: Zadkiel Rodriguez Alvarado
  Date: 5/11/2024
  Description: Contact styling
*/
.card-title-icon, .mat-icon {
  font-size: 72px;
  text-align: center;
  padding-right: 25px;
}
