<!--
  Title: contact.component.html
  Author: Zadkiel Rodriguez Alvarado
  Date: 5/11/2024
  Description: Contact component
-->
<br><br><br>
<mat-card class="main-container">
  <mat-card-title class="title red">Contact Us</mat-card-title>
  <hr>
  <br>
  <br>
  <div fxLayout="row wrap">
    <div fxFlex class="text-center">
      <mat-card-title class="card-title-icon">
        <mat-icon class="red">navigation</mat-icon>
      </mat-card-title>
      <br><br>
      <mat-card-content>
        <p>723 Grimmauld PI</p>
        <p>Diagon Alley</p>
        <p>London, England</p>
      </mat-card-content>
    </div>

    <div fxFlex class="text-center">
      <mat-card-title class="card-title-icon">
        <mat-icon class="red">email</mat-icon>
      </mat-card-title>
      <br><br>
      <mat-card-content>
        <p>Owl Number: 123</p>
      </mat-card-content>
    </div>
  </div>
</mat-card>

