/*
  Title: base-layout.component.scss
  Author: Zadkiel Rodriguez Alvarado
  Date: 5/10/2024
  Description: Base layout styling
*/
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

